:root {
    --cor-principal: #0B1957; 
    --cor-secundaria: #426BC2; 
    --fundo-base: #F7F4ED; 
    --fundo-secundario: #E9F3FF; 
    --cor-detalhe-clara: #E8D9ED; 
    --cor-detalhe-media: #D2B3DB; 
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fundo-base); 
    color: var(--cor-principal); 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal); 
    padding: 10px 30px;
}

ul li {
    display: flex;
    align-items: center; 
    gap: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    padding: 0;
    margin: 0;
}

nav a {
    color: var(--fundo-secundario); 
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: var(--cor-secundaria);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1a2a6b; 
    padding: 5px 10px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    background: transparent;
    color: #fff; 
    padding: 5px;
}

.search-bar img {
    filter: invert(100%) saturate(10%) hue-rotate(240deg) brightness(150%);
}

.search-bar i {
    color: var(--cor-detalhe-media); 
}

main {
    padding: 20px 30px;
    max-width: 1500px;
    margin: 0 auto;
}


footer {
    background-color: #0B1957; 
    color: var(--cor-detalhe-clara); 
    text-align: center;
    padding: 15px 30px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
}