:root {
  --cor-principal: #0b1957;
  --cor-secundaria: #426bc2;
  --fundo-base: #f7f4ed;
  --fundo-secundario: #e9f3ff;
  --cor-detalhe-clara: #e8d9ed;
  --cor-detalhe-media: #d2b3db;
}

html, body {
  height: 100%;
  
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--fundo-base);
  color: var(--cor-principal);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-principal);
  padding: 10px 30px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}

nav a {
  color: var(--fundo-secundario);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--cor-secundaria);
}

nav a.ativo-menu {
  color: var(--cor-secundaria);
  border-bottom: 2px solid var(--cor-secundaria);
  padding-bottom: 5px;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #1a2a6b;
  padding: 5px 10px;
  border-radius: 20px;
}

.search-bar input {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 5px;
}

.search-bar img {
  filter: invert(100%) saturate(10%) hue-rotate(240deg) brightness(150%);
}

.search-bar i {
  color: var(--cor-detalhe-media);
}

main {
  padding: 20px 30px;
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul {
    gap: 20px;
    margin-top: 10px;
  }

  .curso-card {
    width: calc(100% - 20px);
  }

  .container-cards-forum,
  .trilha-cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card-forum,
  .trilha-card {
    width: 90%;
  }
}

#btn-leitor-texto {
  background-color: var(--cor-secundaria);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
  position: fixed; 
  bottom: 30px;    
  right: 30px;     
  z-index: 1000;
}

#btn-leitor-texto:hover {
  background-color: var(--cor-principal);
}

#btn-leitor-texto:disabled {
  background-color: var(--cor-detalhe-media);
}


footer {
  background-color: #0b1957;
  color: var(--cor-detalhe-clara);
  text-align: center;
  padding: 15px 30px;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  box-sizing: border-box;
}
